{% extends "_layout/app" %}

{% block content %}

    {% cache using key "home-page" %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% set carousel_1_image = entry.carousel_1.one() %}
                <div class="carousel-item active">
                    <img class="w-100" src="{{ carousel_1_image.getUrl('homeCarousel') }}" alt="{{ carousel_1_image.title }}">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">{{ entry.carousel_1_Title }}</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">{{ entry.carousel_1_Text }}</h1>
                            <a href="about" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">About Us</a>
                            <a href="contact" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    {% set carousel_2_image = entry.carousel_2.one() %}
                    <img class="w-100" src="{{ carousel_2_image.getUrl('homeCarousel') }}" alt="{{ carousel_2_image.title }}">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">{{ entry.carousel_2_Title }}</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">{{ entry.carousel_2_Text }}</h1>
                            <a href="about" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">About Us</a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Banner Start -->
    <div class="container-fluid banner mb-3">
        <div class="container">
            <div class="row gx-0">
                <div class="row gx-0">
                    {% for banner in entry.banners.all() %}
                        <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                            <div class="{{ banner.bgColor }} d-flex flex-column p-5" style="height: 300px;">
                                <h3 class="text-white mb-3">{{ banner.bannertitle }}</h3>
                                {{ banner.bannertext }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Start -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                {% for homeAboutUs in entry.homeAboutUs.all() %}
                    {% set homeImage = homeAboutUs.homeAboutImage.one() %}
                    <div class="col-lg-7">
                        <div class="section-title mb-4">
                            <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5>
                            <h1 class="display-5 mb-0">{{ homeAboutUs.homeAboutTitle }}</h1>
                        </div>
                        {{ homeAboutUs.homeAboutDescription }}

                        <a href="about" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">About Us</a>
                    </div>
                    <div class="col-lg-5" style="min-height: 400px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-70 rounded wow zoomIn" data-wow-delay="0.9s" src="{{ homeImage.getUrl('transformationForHomeAboutImage') }}" alt="{{ homeImage.title }}" style="object-fit: cover;">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-fluid py-3 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 mb-2">
                <div class="col-lg-12">
                    <div class="section-title mb-5">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Our Services</h5>
                        <h1 class="display-5 mb-0">{{ entry.service_title }}</h1>
                    </div>
                    <div class="row g-5">
                        {% for homeService in entry.homeServices.all() %}
                            {% set homeServImage = homeService.serviceImage.one() %}
                            <div class="col-md-4 service-item wow zoomIn" data-wow-delay="0.6s">
                                <div class="rounded-top overflow-hidden">
                                    <img class="img-fluid" src="{{ homeServImage.getUrl('transformationForHomeServiceImage') }}" alt="">
                                </div>
                                <div class="position-relative bg-light rounded-bottom text-center p-4">
                                    <h5 class="m-0">{{ homeService.serviceImageDescrition }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title mb-2">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Our Staff</h5>
                        <h1 class="display-5 mb-0">{{ entry.staffSectionTitle }}</h1>
                    </div>
                </div>
                {% for staff in entry.staffImage.all() %}
                    {% set staffImage = staff.staff_image.one() %}
                    <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                        <div class="team-item">
                            <div class="position-relative rounded-top" style="z-index: 1;">
                                <img class="img-fluid rounded-top w-100" src="{{ staffImage.getUrl('staffImage') }}" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                    <a class="btn btn-primary btn-square m-1" href="https://twitter.com/{{ staff.staffTwitterHandle }}" target="_blank"><i class="fab fa-twitter fw-normal"></i></a>
                                    <a class="btn btn-primary btn-square m-1" href="https://facebook.com/{{ staff.staffFacebookHandle }}" target="_blank"><i class="fab fa-facebook-f fw-normal"></i></a>
                                    <a class="btn btn-primary btn-square m-1" href="https://instagram.com/{{ staff.staffInstagramHandle }}" target="_blank"><i class="fab fa-instagram fw-normal"></i></a>
                                </div>
                            </div>
                            <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                                <h4 class="mb-2">{{ staff.staffName }}</h4>
                                <p class="text-primary mb-0">{{ staff.staffPosition }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->

    {% endcache %}

{% endblock %}


